.infoGroup {
  flex: 1;
  min-width: 180px;
  text-align: left;
}

.title {
  font-size: 18px;
  color: var(--color-white);
  margin-bottom: 15px;
}

.infoList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.infoItem {
  margin-bottom: 10px;
}

.infoLink {
  font-size: 14px;
  color: var(--color-white);
  transition: color 0.3s ease;
}

.infoLink:hover {
  color: var(--color-light-gray);
}